    body{
        font-size: 1.2em;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
    }
    p, li{
        color: dimgrey;
    }
    h1{
        text-align: center;
        color:darkslategrey;
    }
    .subheadingCentral{
        text-align: center;
        color: slategrey;
    }
    #photo{
        height: 300px;
        width: 230px;
        float: left;
        clear: left;
        margin: 0 20px 20px 20px;
        border: 0.1px solid grey;
    }
    p:first-of-type{
        clear: left;
        display: inline;
        margin: 0;
    }
    p{
        clear: left;
        margin: 0 20px;
    }
